<mat-toolbar class="navbar">
  <div class="mat-h3 vertical_center">
      <img class="logo1" src="assets/logo.png">
      <span> Inspired AI</span>
  </div>

  <div>
      <a class="item1" routerLink="/home" routerLinkActive="active-link">Home</a>
      <a class="item1" routerLinkActive="active-link">Products</a>
      <a class="item1" routerLink="/pricing" routerLinkActive="active-link">Pricing</a>
      <a class="item1" routerLinkActive="active-link">Blogs</a>
      <a class="item1" routerLink="/contact-us" routerLinkActive="active-link">Contact</a>
      <a class="item3" routerLink="/login" routerLinkActive="active-link">Sign In</a>
      <button mat-raised-button class="btn2">Request a demo</button>
  </div>
</mat-toolbar>
