<div class="bottom-panel">
  <div class="logo"><img id="comp-logo" src="assets/logo.png"><span class="comp-name"> Inspired AI</span>
  </div>

  <div class="rowleft">
    <p class="det">Clean and commented code</p>
    <p class="det">beautiful design and not really hard</p>
    <p class="det">to work with.</p>

    <p class="social">
      <a href="https://www.facebook.com/inspiredai/"><img src='assets/fb.png' id="fb"></a>
      <a href="https://in.linkedin.com/company/inspired-ai"><img src='assets/linkedin.png' id="l"></a>
      <a href="mailto: contact@inspiredai.co"><img src='assets/gmail.png' id="g"></a>
      <a href=""><img src='assets/twitter.png' id="tw"></a>
      <a href=""><img src='assets/instagram.png' id="insta"></a>
    </p>
    <br>
    <p class="copyright">© 2020 Inspired AI. All rights reserved.</p>
  </div>

  <div class="row1">
    <p class="btm">Terms & conditions</p>
    <p class="btm">Privacy policy</p>
    <p class="btm">Jobs - <a href="www.google.com" style='color:rgb(36, 195, 168)'>We're hiring!</a></p>
  </div>

  <div class="row2">
    <p class="btm">Resources</p>
    <p class="btm">Contact</p>
    <p class="btm">Help centre</p>
  </div>

  <div class="row3">
    <p class="btm">How it works</p>
    <p class="btm">Products</p>
    <p class="btm">Pricing</p>
  </div>

</div>
