<div class="container1">
  <div fxLayout>
    <div class="container">
      <section class="top-left">
        <section class="oval"></section>
      </section>
      <section class="heading">
        Sign In to create<br />your free chatbot.
      </section>
      <br /><br /><br /><br />
      <section class="font">
        If you don't have an account <br />you can
        <a class="a" href="/signup">Register here!</a>
      </section>
    </div>
    <br />
  </div>
  <div class="bottom-left">
    <img class="image" src="\assets\Images\Signup\signup.png" />
  </div>
  <div class="top-right">
    <div style="padding-top: 50px;">
      <section>
        <section class="form-card">
          <form fxLayout="column" #form="ngForm" (ngSubmit)="onsignup(form)">
            <input
              class="input"
              type="text"
              placeholder="E-mail or Phone Number"
              name="email"
              ngModel
              required
              #emailinput="ngModel"
            /><br>
            <input
              class="input"
              type="password"
              placeholder="Password"
              name="password"
              ngModel
              required
              minlength="6"
              #password="ngModel"
            />
            <br />
            <section style="padding-inline-start: 245px; padding-bottom: 20px;">
              <a class="a" href="/recovery" (click)="RecoveryPassword()">Recovery Password</a>
            </section>
            <button
            class="btn"
            type="submit"
            color="primary"
            [disabled]="form.invalid"
          >
            <a style="text-decoration: none; color: white;" href="/login"
              >Sign up</a
            >
          </button>
          </form>
          <section fxLayout="column" fxLayoutAlign="center center">
            <section style="padding-top: 30px; padding-bottom: 20px;">
              <p>
                -----------------------Or continue with-----------------------
              </p>
            </section>
            <section fxLayout fxLayoutAlign="center center" fxLayoutGap="30px">
              <section class="icon-card">
                <img
                  (click)="googleSignIn()"
                  fxLayout="column"
                  fxLayoutAlign="center center"
                  src="assets\Images\Signup\google.png"
                />
              </section>
              <section class="icon-card">
                <img
                  fxLayoutAlign="center"
                  src="assets\Images\Signup\apple.png"
                />
              </section>
              <section class="icon-card">
                <img
                  fxLayoutAlign="center"
                  src="assets\Images\Signup\facebook.png"
                />
              </section>
            </section>
          </section>
        </section>
      </section>
    </div>
  </div>
</div>
