<div fxLayout fxLayoutAlign="center" fxLayoutGap="60px" class="signup">
  <div fxLayout>
    <div class="container">
      <img class="image" src="assets\Images\Signup\signup.jpg" />
      <section class="centered">
        <p class="heading">
          Sign Up to<br />
          try Hexi for free
        </p>
        <p class="font">
          If you already have an account <br />you can
          <a class="a" href="/login">Sign in here!</a>
        </p>
      </section>
    </div>
  </div>
  <div style="padding-top: 50px;">
    <section>
      <section class="form-card">
        <form fxLayout="column" #form="ngForm" (ngSubmit)="onsignup(form)">
          <mat-form-field appearance="fill">
            <input
              class="input"
              type="email"
              placeholder="E-mail"
              name="email"
              ngModel
              required
              #emailinput="ngModel"
            />

            <mat-error *ngIf="emailinput.hasError('required')"
              >Field must not be empty</mat-error
            >
            <mat-error *ngIf="!emailinput.hasError('required')"
              >Email is invalid</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input
              class="input"
              type="text"
              placeholder="Name"
              name="name"
              ngModel
              required
              #nameinput="ngModel"
            />

            <mat-error *ngIf="nameinput.hasError('required')"
              >Field must not be empty</mat-error
            >
            <mat-error *ngIf="!nameinput.hasError('required')"
              >Name is invalid</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input
              class="input"
              type="text"
              placeholder="Phone Number"
              name="phno"
              ngModel
              required
              #phnoinput="ngModel"
            />

            <mat-error *ngIf="phnoinput.hasError('required')"
              >Field must not be empty</mat-error
            >
            <mat-error *ngIf="!phnoinput.hasError('required')"
              >Email is invalid</mat-error
            >
          </mat-form-field>
          <button
            class="btn"
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="form.invalid"
          >
            <a class="a2" href="/login">Sign up</a>
          </button>
        </form>
        <section fxLayout="column" fxLayoutAlign="center center">
          <section style="padding-top: 30px; padding-bottom: 20px;">
            <p>
              -----------------------Or continue with-----------------------
            </p>
          </section>
          <section fxLayout fxLayoutGap="20px">
            <mat-card class="icon-card">
              <img
                class="icon"
                fxLayoutAlign="center"
                src="assets\Images\Signup\google.png"
              />
            </mat-card>
            <mat-card class="icon-card">
              <img
                class="icon"
                fxLayoutAlign="center"
                src="assets\Images\Signup\apple.png"
              />
            </mat-card>
            <mat-card class="icon-card">
              <img
                class="icon"
                fxLayoutAlign="center"
                src="assets\Images\Signup\facebook.png"
              />
            </mat-card>
          </section>
        </section>
      </section>
    </section>
  </div>
</div>
